apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: suleymanakturk/devops-project:770cae23
        ports:
        - containerPort: 5000
        # Resources konteyner seviyesinde olmalı
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
      # imagePullSecrets konteyner listesiyle aynı hizada olmalı
      imagePullSecrets:
      - name: regcred
